cmake-build-debug/
cmake-build-release/
*.swp
*.swo
.idea/misc.xml
.idea/editor.xml
tests/blackbox/.run/
tests/blackbox/.idea/
tests/blackbox_csharp/.idea/
tests/blackbox_csharp/output/
tests/blackbox_csharp/csharp/CSharpBindings/bin
tests/blackbox_csharp/csharp/CSharpBindings/obj
tests/blackbox_csharp/csharp/TestModule/obj
tests/blackbox_csharp/csharp/TestModule/bin
tests/blackbox_csharp/csharp/TestModule2/obj
tests/blackbox_csharp/csharp/TestModule2/bin
tests/blackbox_csharp/csharp/.idea
tests/blackbox_csharp/bin
