[submodule "external/x_googletest"]
	path = external/x_googletest
	url = https://github.com/google/googletest.git
[submodule "external/x_rapidjson"]
	path = external/x_rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/x_lua/src"]
	path = external/x_lua/src
	url = https://github.com/lua/lua.git
[submodule "external/x_cargs"]
	path = external/x_cargs
	url = https://github.com/likle/cargs.git
